.container-1, .container-2, .container-3{
    margin:  10px;
    padding: 10px;
    /* border: 1px solid black; */
    text-align: center;
}
.flex-box-container-1, .flex-box-container-2, .flex-box-rps-3{
    display: flex;
    padding: 10px;
    /* border: 1px solid black; */
    justify-content: space-around;
}

.flex-box-container-1 div{
    padding: 10px;
}


.flex-box-container-2 img{
    width: 333px;
    height: 500px;
    margin: 5px;
    box-shadow: 10px 10px 5px 0px rgba(49, 35, 236, 0.75);
}


.flex-box-rps-3 img:hover{
    box-shadow: 10px 10px 5px 0px #528febbf;
}
